Repository ostis-ai/sc-web, pull requests merged in 2023-06, with the labels that each got.

#108 Feature/integrate nodes scg editor
  client/js/Ui/searchpanel.js
  client/js/Utils/sc_helper.js
  components/scg/src/scg-struct.js
  docs/changelog.md
Labels: bug, 0.8.0, scg-editor

#112 Fix/links identifier translation
  .gitignore
  client/js/Core/server.js
  components/scg/src/gwf-model-objects.js
  components/scg/src/scg-object-creator.js
  components/scg/src/scg-render.js
  components/scg/src/scg-struct.js
  docs/changelog.md
Labels: enhancement, gwf-editor, 0.8.0, scg-editor

#117 feat: translate system identifiers
  components/scg/src/scg-struct.js
  docs/changelog.md
Labels: enhancement, scg-editor

#111 scripts: generalize all scripts
  README.md
  docs/changelog.md
  requirements.txt
  scripts/build_sc_web.sh
  scripts/formats.sh
  scripts/install.sh
  scripts/install_deps_macOS.sh
  scripts/install_deps_ubuntu.sh
  scripts/run_sc_web.sh
  scripts/run_scweb.sh
  scripts/set_vars.sh
Labels: 0.8.0

#118 Feature/translate constancy links gwf
  components/scg/src/command/create-link.js
  components/scg/src/gwf-model-objects.js
  components/scg/src/scg-object-creator.js
  components/scg/src/scg-struct.js
  docs/changelog.md
Labels: enhancement, gwf-editor, scg-editor

#124 fix(components-sandbox): check edge on addArcEventRequest and removeArcEventRequest
  client/js/Core/componentsandbox.js
  docs/changelog.md
Labels: 0.8.0, components-sanbox
